/* Navbar */

.navbaras {
    display: flex;
    height: 60px;
    /* border-radius:50px; */
    border-color:white;
    border-style:solid;
    padding-left:0px;
    border-bottom-style: solid;
    flex-wrap: wrap;
    border-bottom-color: white;
}

.link-out:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
}


.link-out{
  background: linear-gradient(to right, #ff5858, #f857a6);
  width: auto;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.link-in-normal{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}

.link-in-active{
  background: linear-gradient(to right, #ff5858, #f857a6);
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}


.info {
  /display: flex;
  flex-flow: nowrap;
  /* margin: auto; */
  width: 100%;
 /* background-color: wheat; */
 text-align: center;
}

.custom {
  font-size: 60px;
}

.pink{
  /* color: #d51a66; */
  color: white;
  /* color: rgba(227,27,109,0.9); */
}
.buttons {
  /* display: flex;
  flex-flow: nowrap; */
  margin: auto;
  width: 60%;
 /* background-color: wheat; */
 text-align: center;
 border-color: white;
 border-radius: 10px;
 border-width: 3px;
 border-style: solid; 
 margin-top: 40px;
 padding: 8px;
}

.page {
  /* background-color: yellow; */
  height: auto;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  color: #FFF;
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;  
  margin: auto;
  display: flex;
  border-top-style: solid;
  border-top-color: white;
  padding-top: 30px;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  color: #FFF;
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;  
  margin: auto;
  display: flex;

  padding-top: 30px;
}

.box2 {
  width:60px;
  /* width: 15vw;   */
  height: 25px; 
  text-align: center;
}

/* End Navbar */
/* Jumbotron */

#first {
   padding: 0;
}

.jumbotron-image {
  /* max-width: 100%; */
  /* height: auto; */
  width: 99vw;
  height: 98vh;
}

h2>a {
  color: #565656;
}

a:hover {
  text-decoration: none;
}

#h1first {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #FFF;
  font-family: 'Philosopher', sans-serif;
  font-size: 35px;  
}

/* End Jumbotron */
/* About */

#abouth2 {
  visibility: hidden;
}

#about-section {
  padding-top: 8%;
  padding-bottom: 10%;
}

.fadeInBlock {
    opacity:0;
}

#p-about {
  font-size: 180%;
  font-family: 'Raleway', sans-serif;
}

#img-about {
  padding: 0;
}

/*End About*/
/*Portfolio*/

#portfolio-section {
  background-color: ;
  background: #B5927E;
  background: -webkit-linear-gradient(left top, #B5927E, #6C5461);
  background: -o-linear-gradient(bottom right, #B5927E, #6C5461);
  background: -moz-linear-gradient(bottom right, #B5927E, #6C5461);
  background: linear-gradient(to bottom right, #B5927E, #6C5461);
  padding-top: 2%;
  padding-bottom: 10%;
}

.headline {
  font-family: 'Merriweather', serif;
  color: #484A4A;
}

.headline.fadeInBlock>a {
  color: #484A4A;
}

.headline.fadeInBlock>a:hover {
  color: #484A4A;
}

#portfolio-id {
  margin-bottom: 2%;
}

/*End Portfolio*/
/*Contact*/

#contact-section {
  background-color: #4D3C4F;
  padding-top: 2%;
  padding-bottom: 5%;
}

.social-icons {
  color: #b7b7b7;
}

.fa{
  font-size:40px;
  padding:20px;
  transition:0.5s;
}

.fa-facebook-official {
   vertical-align: middle;
     margin: auto; 
  }

.fa-twitter {
  vertical-align: middle;
  margin: auto;
}

.fa-free-code-camp {
  vertical-align: middle;
  margin: auto;
}

.fa-envelope {
  vertical-align: middle;
  margin: auto;
}

/*End Footer*/

.headings {
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: white;
  font-size: 35px;
  color: #444649;
  text-align: center;
  padding-top: 53px; 
  padding-bottom: 53px;
  border-bottom-style: solid;
  /* border-bottom-color: #808080; */
  border-bottom-width:3px;
  border-bottom-color: #444649;
  display: flex;
    justify-content: center;
    align-items: center;
}
.headings2 {
  background: linear-gradient(to right, #ff5858, #f857a6);
  padding: 3px 15px 3px 15px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 99px 10px;
  /* transition-duration: 0.5s; */
}

.flask-container {  
  width: 73%;
  margin: auto;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width:260px;
  /* width: 15vw;   */
  height: 250px; 
  text-align: center;
}
.photo {
  height: 100%;  
 max-width: 100%;
  border-radius:5%;
  background-position: center;
  background-size: cover;
}


@media only screen and (min-width: 1px) {
  .flask-container2 {  
    width: 350px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .box3 {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius:5%;
  }
}

@media only screen and (min-width: 750px) {
  .flask-container2 {  
    width: 50%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .box3 {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius:5%;
  }
}


@media only screen and (min-width: 1000px) {
  .flask-container2 {  
    width: 70%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .box3 {
    height: 234px;
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius:5%;
    padding:15px;
  }
}

@media only screen and (min-width: 1400px) {
  .flask-container2 {  
    width: 70%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px; 
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .box3 {
    height: 300px;  
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius:5%;
    padding: 7px;
  }
}

.special {
 border-style: solid;
 border-width: 3px;
 border-radius: 10%;
 padding: 5px;
 font-weight: 1000;
 font-size: 25px;
}

/* for about me page */

.myphoto:hover {
 
  transition-duration: 2s;
  transform: rotate(-6deg);
  transform: scale(1.2);
}

.first-a:hover{
  transform: scale(1.03);
}
.first-b:hover{
  transform: scale(1.03);
}
h1a:hover{
  transform: scale(1.5);
}

@media only screen and (min-width:1px) 
{
  .page2 {
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
    padding-right: 2.5%;
  }
  .right {
    width: 100%;
    padding-left: 2.5;  
    margin-top: 100px;
    margin-bottom: 60px;
    animation: slide-in;
    animation-name: asr;
    animation-duration: 2.5s;
    animation-play-state: running;
  }
  @keyframes asr {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .infor {
    /* float: right; */
    margin: auto;
    width: 360px;
    height: 750px;
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 92px 0px;
  }
  .first-a {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 400;
  }
  .first-b {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400; 
  }
   .second {
     height:300px;
     background-color:white;
     position: relative;
     top: 30px;
     width: 110%;
     left: -5%;
     transform: rotate(-6deg);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .third {
    padding-top:90px;
    /* font-size: 20px; */
    padding-left: 70px;
    font-weight: 400;
  }
  .about {
    /* float: left; */
    margin: auto;
      width: 70%;
      height: auto;
      background-color: white;  
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 92px 0px;
      padding: 25px;
  }
  .myphoto {
    width: 250px;
     height: 250px;
     border-radius: 50%;
     transform: rotate(6deg);
     overflow: hidden;
     transition-duration: 3s;
     border-color: black;
     border-style: ridge;
     border-width: 2px;
  }
  div.myphoto img { 
    height:100%;
    width: auto;
    margin-left: 30px;
    margin-top: 50px;
    transform: scale(1.45); 
  }
  .h1a {
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 50px;
    width: 210px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px; 
  }
  .ha{
    font-weight: 400;
    font-size: 35px;
    /* color: white; */
  }
  .para {
    font-size: 20px;
    color: rgb(76,76,76);
    margin-right:10px; 
    margin-left: 10px;  
  }
  
  li {
    font-size: 26px; 
  }
}

@media only screen and (min-width:800px) 
{
  .page2 {
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
    padding-right: 2.5%;
  }
  .right {
    width: 100%;
    padding-left: 2.5;  
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .infor {
    /* float: right; */
    margin: auto;
    width: 360px;
    height: 750px;
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 92px 0px;
  }
  .first-a {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 400;
  }
  .first-b {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400; 
  }
   .second {
     height:300px;
     background-color:white;
     position: relative;
     top: 30px;
     width: 110%;
     left: -5%;
     transform: rotate(-6deg);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .third {
    padding-top:90px;
  /* font-size: 20px; */
  padding-left: 70px;
  font-weight: 400;
  }
  .about {
    /* float: left; */
    margin: auto;
      width: 750px;
      height: 750px;
      background-color: white;  
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 92px 0px;
      padding: 25px;
  }
  .myphoto {
    width: 250px;
     height: 250px;
     border-radius: 50%;
     transform: rotate(6deg);
     overflow: hidden;
     transition-duration: 3s;
  }
  div.myphoto img { 
    height:100%;
    width: auto;
    margin-left: 30px;
    margin-top: 50px;
    transform: scale(1.45); 
  }
  .h1a {
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 50px;
    width: 210px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px; 
  }
  .ha{
    font-weight: 400;
    font-size: 35px;
    /* color: white; */
  }
  .para {
    font-size: 20px;
    color: rgb(76,76,76);
    margin-right:10px; 
    margin-left: 10px;  
  }
  
  li {
    font-size: 26px; 
  }
}

@media only screen and (min-width: 1200px) {
  .page2 {
    display: flex;
    padding-top: 70px;
  }
  .left {
    width: 35%;
    padding-right: 2.5%;
  }
  .right {
    width: 60%;
    padding-left: 2.5; 
    margin-top: 0px;
    margin-bottom: 0px; 
  }
  .infor {
    float: right;
    width: 360px;
    height: 750px;
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 92px 0px;
  }
  .first-a {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 400;
  }
  .first-b {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400; 
  }
   .second {
     height:300px;
     background-color:white;
     position: relative;
     top: 30px;
     width: 110%;
     left: -5%;
     transform: rotate(-6deg);
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .third {
  padding-top:90px;
  /* font-size: 20px; */
  padding-left: 70px;
  font-weight: 400;
  }
  .about {
    float: left;
      width: 750px;
      height: 750px;
      background-color: white;  
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 92px 0px;
      padding: 55px;
  }
  .myphoto {
    width: 240px;
     height: 240px;
     border-radius: 50%;
     transform: rotate(6deg);
     overflow: hidden;
     transition-duration: 3s;
  }
  div.myphoto img { 
    height:100%;
    width: auto;
    margin-left: 30px;
    margin-top: 50px;
    transform: scale(1.45);  
    }
  .h1a {
    background: linear-gradient(to right, #ff5858, #f857a6);
    border-radius: 50px;
    width: 210px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px; 
  }
  .ha{
    font-weight: 400;
    font-size: 35px;
    /* color: white; */
  }
  .para {
    font-size: 20px;
    color: rgb(76,76,76);
    margin-right:10px; 
    margin-left: 10px;  
  }
  
  li {
    font-size: 26px; 
  }
}

/*For home page 2*/

.bgbody {
  background-image: url(wall.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.fullview{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #ff5858; */
  width: 99vw;
  height:98vh;    
}
.all{
  /* background-color: yellow; */
  height: 500px;
  /* width:900px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:300px;
  padding:20px;
}
.allf{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: white;
}
.alls{
  display: flex;
  justify-content: center;
  border-color: white;
  border-style: solid;
  padding: 8px 15px 8px 15px; 
  border-radius: 25px;
  margin-top: 50px;
}
.alls:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.allsf{
  font-size: 40px;
}
.allss{

}
.allt{
  display: flex;
  justify-content: center;
  font-size: 35px;
  border-top-color: white;
  border-top-style: solid;
  padding-top: 20px;
  margin-top: 100px;  
}
.allfo{
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: white;
  padding-top:30px;
  font-weight: 500;
}

.fab:hover {
  filter: invert(30%);
  transform: scale(1.15);
  transition-duration: 0.2s;
}
.far:hover{
  filter: invert(50%);
  transform: scale(1.15);
  transition-duration: 0.2s;
}
.fas:hover{
  filter: invert(50%);
  transform: scale(1.15);
  transition-duration: 0.2s; 
}

.fab {
  color:#444649;
   }
 .devicon-c-plain {
 color:#444649;
 }
 .far{
  color:#444649; 
 }

 .headings2:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
 }


/*animations*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft{
  animation-name: fadeInLeft;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight{
  animation-name: fadeInRight;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0,100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeUp{
  animation-name: fadeUp;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    transform: translate(0,-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeDown{
  animation-name: fadeDown;
}

/*for index.html*/
@keyframes fadeUplong {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 500%);
    transform: translate(0,500%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeUplong{
  animation-name: fadeUplong;
}

@keyframes fadeDownlong {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -500%);
    transform: translate(0,-500%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeDownlong{
  animation-name: fadeDownlong;
}


.infor:hover{
  transform: scale(1.05);
  transition-duration:0.8s; 
}
.about:hover{
  transform: scale(1.05);
  transition-duration:0.8s; 
}

.hobbies{
  display: flex;
  flex-wrap: wrap;
}
.hobby{
  width:100px;
  margin-left:15px;
  margin-top:30px;
}